.header {
    /* position: relative; */
    background-image: url(./images/banner@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 690px;
    width: 1510px;
    object-fit: cover;
    /* display: flex; */
}

.navbar {
    display: flex;
}

.btn-sign-in {
    text-transform: uppercase;
    border: 2px solid rgb(139, 195, 74);
    /* Green */
    border-radius: 100px;
    width: 82px;
    height: 36px;
    /* background-color: transparent; */
    margin-left: 1145px;
    margin-top: 41px;
    font-size: 10px;
    font-family: 'Roboto-Regular', arial;
    color: rgb(139, 195, 74);
}

.txt-about-us {
    text-transform: uppercase;
    position: absolute;
    font-size: 10px;
    margin-left: 1055px;
    margin-top: 51px;
    width: 76px;
    height: 16px;
    color: rgb(40, 50, 56);
    letter-spacing: 1px;
    font-family: 'Roboto-Regular', arial;
}

.img-hapoerp {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin: auto;
    margin-top: 8%;
    width: 14%;
}

.menu-header {
    width: 0;
    margin: auto;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 650px;
    padding-top: 4%;
    /* height: 480px; */
}

.img-icon1 {
    display: block;
    text-align: center;
    /* width: 20%; */
    /* box-sizing: border-box; */
}

.img-icon1 p {
    font-size: 22pt;
    font-family: 'Roboto-Regular', arial;
    color: rgb(40, 50, 56);
    letter-spacing: -0.07px;
}

.img-icon1 img {
    width: 100%;
}

.img-icon2 {
    display: block;
    text-align: center;
    /* width: 20%; */
    /* box-sizing: border-box; */
}

.img-icon2 p {
    font-size: 22pt;
    font-family: 'Roboto-Regular', arial;
    color: rgb(40, 50, 56);
    letter-spacing: -0.07px;
}

.img-icon2 img {
    width: 80%;
}

.img-icon3 {
    display: block;
    text-align: center;
    /* width: 20%; */
    /* box-sizing: border-box; */
    object-fit: cover;
}

.img-icon3 p {
    font-size: 22pt;
    font-family: 'Roboto-Regular', arial;
    color: rgb(40, 50, 56);
    letter-spacing: -0.07px;
}

.img-icon3 img {
    width: 60%;
}

.txt-lorem {
    text-align: center;
    font-family: "Roboto-Light", arial;
    font-style: italic;
    padding-top: 1%;
}

.btn-start-header {
    text-transform: uppercase;
    /* text-align: center; */
    background-image: linear-gradient(to left, rgb(180 236 81), rgb(66 147 33));
    border-radius: 100pt;
    margin: auto;
    display: flex;
    /* padding: 2%; */
    margin-top: 10px;
    /* padding-top: 1%; */
    justify-content: center;
    width: 120pt;
    height: 35pt;
    font-family: 'Roboto-Regular', arial;
    color: rgb(255 255 255);
    letter-spacing: 1.33pt;
    font-family: 'Roboto-Regular', arial;
    box-shadow: 0pt 2pt 4pt 0pt rgba(0 0 0 0.5);
}

.paragraph {
    display: flex;
    box-shadow: 0pt 15pt 35pt 0pt rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    /* width: 800px; */
    height: 400px;
}

.img-paragraph-2 {
    width: 400px;
    height: 300px;
    /* align-items: center; */
    padding-right: 5%;
}

.img-icon {
    width: 25pt;
    height: 25pt;
}

.txt-title {
    font-family: 'Roboto';
    font-size: 30pt;
    font-weight: 300;
    letter-spacing: -0.09pt;
    margin-top: -2%;
    padding-top: 0px;
    padding-left: 2%;
    color: rgb(40, 50, 56);
}

.title {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 50px;
}

.txt-area {
    font-size: 20pt;
}

.text {
    width: 400px;
    height: 300px;
    font-size: 9pt;
    align-content: space-between;
}


/* p.text {
    font-style: italic;
} */

.txt-first-para {
    font-style: italic;
    color: rgb(40, 50, 56);
}

.txt-sec-para {
    /* word-break: break-all; */
    text-align: justify;
    text-justify: inter-word;
    line-height: 15pt;
    color: rgb(40, 50, 56);
    font-family: 'Roboto-Regular';
    font-weight: 300;
    font-size: 8pt;
    line-height: 15pt;
}

.btn-start-body {
    text-transform: uppercase;
    background-image: linear-gradient(to left, rgb(180 236 81), rgb(66 147 33));
    border-radius: 100pt;
    border: rgba(0 0 0 0.5);
    display: flex;
    /* padding: 2%; */
    margin-top: 15px;
    /* margin-top: -1%; */
    justify-content: center;
    width: 120pt;
    height: 35pt;
    color: rgb(255 255 255);
    letter-spacing: 1.33pt;
    font-family: 'Roboto-Regular', arial;
    box-shadow: 0pt 2pt 4pt 0pt rgba(0 0 0 0.5);
    float: left;
}

.img-paragraph-1 {
    width: 400px;
    height: 300px;
    /* align-items: center; */
    padding-left: 5%;
}

.list-title {
    background-image: linear-gradient(to left, rgb(180 236 81), rgb(66 147 33));
    height: 250px;
    /* width: 0; */
    /* margin: auto; */
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-between;
    /* min-width: 650px; */
    /* padding-top: 4%; */
    padding-left: 10%;
    padding-right: 10%;
}

.img-list-title {
    /* display: flex; */
    /* display: block; */
    width: 80px;
    margin: auto;
}

.icon-list-title {
    border-radius: 50%;
    width: 60pt;
    height: 60pt;
    z-index: 2;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    position: absolute;
}

.txt-list-title {
    border-radius: 50%;
    width: 30pt;
    height: 30pt;
    z-index: 1;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(124, 179, 66);
    /* margin-top: -10%; */
}

.part {
    display: block;
    justify-content: center;
}

.fa-ul {
    font-family: 'Roboto-Regular';
    font-weight: 300;
    margin-left: -10%;
}

.fa-ul li {
    text-align: justify;
    font-size: 8pt;
    line-height: 15pt;
    /* margin-top: -5%; */
    color: rgb(40, 50, 56);
}

.ourCustom {
    background-image: url(./images/rectangle3.png);
    width: 100%;
    height: 380px;
    background-size: cover;
    display: block;
    margin: auto;
}

.ourCustom p:nth-child(1) {
    /* color: white; */
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: 'Roboto-Light';
    font-weight: 300;
    line-height: 20pt;
    color: rgb(255 255 255);
    font-size: 20pt;
    padding-top: 2%;
}

.ourCustom p:nth-child(2) {
    font-family: 'Roboto-Light';
    font-weight: 300;
    line-height: 20pt;
    color: rgb(255 255 255);
    text-align: justify;
    width: 500px;
    margin: auto;
    height: 100%;
    align-items: center;
    font-size: 10pt;
}

.footer {
    height: 300px;
    background-color: rgb(57, 71, 78);
    border: inset rgb(236, 239, 241);
    box-shadow: 0pt 15pt 35pt 0pt rgba(0, 0, 0, 0.1);
}